.DS_Store
.env
*.log

# Java / Gradle
.gradle/
build/
bin/
out/
!**/gradle/wrapper/gradle-wrapper.jar

# Node
node_modules/
dist/

# Python
.venv/
__pycache__/
*.pyc

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
